.container {
    width: 100%;
    margin: 0 auto;
}

/* Estilos para el encabezado */
.header {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para los campos de entrada y etiquetas */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group > input {
    width: 80%;
    padding: 5px;
}

.form-group select {
    width: 80%;
    padding: 5px;
}

/* Estilos para el botón de registro */
.submit-button {
    text-align: start;
}

.submit-button button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.table-container {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    max-height: 400px;
    /* Altura máxima para habilitar el desplazamiento vertical */
    overflow-y: auto;
    /* Barra de desplazamiento vertical si es necesario */
}
.tableContainer >tr> th {
    background-color: #f2f2f2;
    
}
.theadTable{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-weight: bold;
}
.tableContainer th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-weight: bold;
}
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
.containerpageoption{
    display: flex;
}
.containerFormPage{
    display: flex;
    padding-left: 1rem;
}

.theadContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.theadContainer .idInput{
    width: 1.5rem;
    max-width: 2rem;
}

.theadContainer .dataEmail{
    width: 6rem;
    max-width: 6rem;
}
.theadContainer .dataInput{
    width: 4rem;
    max-width: 4.5rem;
}